.icon {
    position: absolute;
    top: 5px;
    right: 12px;
}

.second-icon {
    position: absolute;
    top: 7px;
    left: 75px;
}

.form-control {
    width: 500px;
}

.col-sm-12 input {
    width: 100%;
}

.btn {
    width: 150px;
    height: 30px;

}

.footer {
    height: 500px;
    background-color: rgba(252, 228, 232, 0.76);
}

.main {
    background-color: rgb(247, 241, 241);
}

.categories img {
    height: 100px;
}

.img-fluid {
    height: 100%;
}