.icon {
    position: absolute;
    top: 5px;
    right: 12px;
}

.second-icon {
    position: absolute;
    top: 7px;
    left: 75px;
}

.form-control {
    width: 550px;
}

.btn {
    width: 150px;
    height: 30px;

}